<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/gform.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>

    <section>
    <form class="gform"> 
        <img class="google" src="/static/pictures/google-logo.png" alt="">

        <h2>Choose an acount</h2>
        <div>
    <span class="user">   
        <span><p class="userptag">selva selva</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p class="userptag">Signed-out</p></span>
       <p class="userptag">    <img src="/static/pictures/sergio.jpg" class="gmail" alt="">selvaselva123@gmail.com</p>
    </span>
    </div>
    <div>
        <p>  <iconify-icon icon="mingcute:user-4-line" width="30" height="30"></iconify-icon><a  href="{{url_for('login')}}">Use another account</a></p>
    </div>
    <div>
            <p><iconify-icon icon="mingcute:user-x-line" width="30" height="30"></iconify-icon>Remove an account</p>
    </div>
    </form>

    
        <div class="footer    flex-div">
        <p>‪English (United States)‬</p>
        <p>help privacy States</p> 
    </div>
    </section>
</body>
</html>